<%= form_for(@applicant, url: create_applicant_quote_path(@quote)) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>
      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="heading">
    Applicant(s) Information
  </div>
  <br/>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Applicant Name" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.select :appl_prefix, options_for_select(Applicant::NAME_PREFIXES.map {|x| [x,x] }) %>
    <%= f.text_field :appl_first, value: "firstname" %>
    <span class="required">*&nbsp;</span>
    <%= f.text_field :appl_middle %>
    <%= f.text_field :appl_last, value: "lastname" %>
    <span class="required">*&nbsp;</span>
    <%= f.text_field :appl_suffix %>
  </div>
  <div class="field">
    <%= f.label "Applicant SSN" %>
    <%= f.text_field :appl_ssn %>
  </div>
  <div class="field">
    <%= f.label "Co-Applicant Name" %>
    <%= f.select :coappl_prefix, options_for_select(Applicant::NAME_PREFIXES.map {|x| [x,x] }) %>
    <%= f.text_field :coappl_first %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :coappl_middle %>
    <%= f.text_field :coappl_last %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :coappl_suffix %>
  </div>
  <div class="field">
    <%= f.label "Co-Applicant SSN" %>
    <%= f.text_field :coappl_ssn %>
  </div>
  <div class="field">
    <%= f.label "Agency Customer Id" %>
    <%= f.text_field :agency_cust_id %>
  </div>

  <div class="heading">
    Address Information
  </div>
  Current Risk Address Information
  <div class="field">
    <%= f.label "Risk Street Address" %>
    <%= f.text_field :risk_addr_1 %>
  </div>
  <div class="field">
    <%= f.label "Risk Address Line 2" %>
    <%= f.text_field :risk_addr_2 %>
  </div>
  <div class="field">
    <%= f.label "Risk City" %>
    <%= f.text_field :risk_city %>
  </div>
  <div class="field">
    <%= f.label "Risk State" %>
    <%= f.label @quote.state %>
  </div>
  <div class="field">
    <%= f.label "Risk Zip Code" %>
    <%= f.text_field :risk_zip %>
    <span class="required">*&nbsp;</span>
    &nbsp;-&nbsp;
    <%= f.text_field :risk_zip2 %>
  </div>
  <div class="field">
    <%= f.label "Current Residence" %>
    <%= f.select :residence_type, options_for_select(Applicant::RESIDENCE_TYPES.map {|x| [x,x] }) %>
  </div>
  <div class="field">
    <%= f.label "Years at Residence" %>
    <%= f.select :years_at_residence, options_for_select(Applicant::YEARS_AT_RESIDENCE.map {|x| [x,x] }) %>
  </div>

  <div class="heading">
    Additional Policy Information
  </div>
  <div class="field">
    <%= f.label "Companion Auto/Home Credit" %>
    <%= f.select :companion_credit, options_for_select(Applicant::BOOLEAN_SELECT_CHOICES) %>
  </div>
  <div class="field">
    <%= f.label "Companion Policy Information" %>
    <%= f.text_field :companion_policy %>
  </div>
  <div class="field">
    <%= f.label "Life Policy Credit" %>
    <%= f.select :life_policy_credit, options_for_select(Applicant::BOOLEAN_SELECT_CHOICES) %>
  </div>
  <div class="field">
    <%= f.label "Life Policy Information" %>
    <%= f.text_field :life_policy %>
  </div>
  <div class="field">
    <%= f.label "Young Family Discount" %>
    <%= f.select :young_family_discount, options_for_select(Applicant::BOOLEAN_SELECT_CHOICES) %>
  </div>
  <div class="field">
    <%= f.label "Life Policy Information" %>
    <%= f.select :group_discount_option, options_for_select(Applicant::GROUP_DISCOUNT_OPTIONS.map {|x| [x,x]}) %>
  </div>
  <div class="field">
    <%= f.label "Young Family Discount" %>
    <%= f.select :personal_account_bill, options_for_select(Applicant::BOOLEAN_SELECT_CHOICES) %>
  </div>
  <div class="field">
    <%= f.label "Star Pak" %>
    <%= f.select :star_pak, options_for_select(Applicant::BOOLEAN_SELECT_CHOICES) %>
  </div>
  <div class="field">
    <%= f.label "Star Pak Account" %>
    <%= f.text_field :star_pak_account %>
  </div>
  <div class="field">
    <%= f.label "Parent Policy Number" %>
    <%= f.text_field :parent_policy_number1 %>
    &nbsp;-&nbsp;
    <%= f.text_field :parent_policy_number2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
