<% unless header_defined %>
  <table class='simple'>
    <thead>
      <tr>
        <th>Path</th>
        <th>Type/Files</th>
        <th>Loc</th>
        <th>Component</th>
        <th>Reviewed</th>
      </tr>
    </thead>
    <tbody>
<% end %>

<% folders_hash.each do |folder_name, child_hash| %>
  <tr>
    <td>
      <p class='folder_name'>
        <%= render partial: 'spacer', locals: {level: level} %>
        <%= folder_name %>
      </p>
    </td>
    <td><%= child_hash[:total_files] %></td>
    <td><%= child_hash[:total_lines] %></td>
    <td></td>
    <td></td>
  </tr>
  <% child_hash[:files].each do |file_info| %>
  <tr>
    <td>
      <p class='file_name'>
        <%= render partial: 'spacer', locals: {level: level+1} %>
        <%= file_info.name %>
      </p>
    </td>
    <td>
      <%= file_info.type %>
    </td>
    <td>
      <%= file_info.loc %>
    </td>
    <td>
      <%= file_info.component.try(:name) %>
    </td>
    <td>
      <%= file_info.review_done %>
    </td>
  </tr>
  <% end %>
  <%= render partial: 'folder', locals: {folders_hash: child_hash[:folders], level: level+1, header_defined: true} %>
<% end %>

<% unless header_defined %>
    </tbody>
  </table>
<% end %>
