<p id="notice"><%= notice %></p>

<p>
  <strong>Folder:</strong>
  <%= @file_info.folder %>
</p>

<p>
  <strong>Name:</strong>
  <%= @file_info.name %>
</p>

<p>
  <strong>Component:</strong>
  <%= @file_info.component.try(:name) %>
</p>

<p>
  <strong>Type:</strong>
  <%= @file_info.type %>
</p>

<p>
  <strong>Loc:</strong>
  <%= @file_info.loc %>
</p>

<p>
  <strong>Review Done:</strong>
  <%= @file_info.review_done %>
</p>

<%= link_to 'Edit', edit_file_info_path(@file_info) %> |
<%= link_to 'Back', file_infos_path %>
