<% if @drag.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@drag.errors.count, "error") %> prohibited this screen from being saved:</h2>
    <ul>
    <% @drag.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form">
  <h3> Hello world Form generation</h3>
  <table>
  <% @drag.content.each do |key, element| %>
    <tr>
      <td>
        <%= label_tag element[:display_name] %>
        <% unless element[:mandatory] && element[:mandatory] == "false" %>
          <span class="required">*</span>
        <% end %>
        &nbsp;
      </td>
      <td>
        <% case element[:data_type] %>
        <% when 'integer' %>
          <%= number_field_tag element[:var_name], element[:default_value] %>
        <% when 'string' %>
          <%= text_field_tag element[:var_name], element[:default_value] %>
        <% when 'date' %>
          <%= text_field_tag element[:var_name], element[:default_value] %>
        <% when 'boolean' %>
          <%= select_tag element[:var_name], options_for_select(Applicant::BOOLEAN_SELECT_CHOICES, element[:default_value]) %>
        <% else %>
          <%= element[:data_type] %>
          <%= element[:var_name]  %>
          <%= element[:default_value] %>
          <%= element[:control] %>
        <% end %>
      </td>
    </tr>
  <% end %>
</div>

