<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Insurance Quote Tool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class='header'>
    <div align='right'>
      <% if user_signed_in? %>
        Welcome
        <%= link_to "#{current_user.email}", edit_user_registration_path %>
        <%= link_to " Profile", edit_user_registration_path %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>
    <h1 align="center">Insurance Quote Tool</h1>
    <h2 align="center">Prototype for generating insurance quotes. Fast.</h2>
  </div>
  <hr/>
  <div id="flash_messages">
    <div id="notice"><%= notice %></div>
    <div id="alert"><%= alert %></div>
  </div>
  <hr/>
  <div id="content">
    <%= yield %>
  </div>
  <div class='footer'>
    <hr/>
    <h5 align="center">Written by Karthik L &lt;karthikonly@gmail.com&gt; </h5>
    <h5 align="center">&copy; All rights reserved</h5>
  </div>
</body>
</html>
